{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static "estilo1.css" %}">
  <title>Document</title>
</head>

<body>
  <section id="encabezado">
    <section id="navPrincipal" class="row text-center">
      <h1 id="titulo" class="col-sm-4 d-inline-block">Liga Deportiva Parroquial de Nono</h1>
      <section id="links" class="col-sm-8 d-inline-block">
        <a href="">LA LIGA</a>
        <a href="">LA DIRECTIVA</a>
        <a href="">SERVICIOS</a>
        <a href="">ESPACIOS DEPORTIVOS</a>
        <a href="">EL DEPORTE</a>
        <a href="">CONSULTAS</a>
        <a href="">LOGIN</a>
      </section>
    </section>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        {% if listaFechas %}
          {% for fecha in listaFechas %} 
            <div class="carousel-item active">
            <img class="" src="{% static "images/estadio.jpeg"%}" alt="First slide">
            <div class="carousel-caption d-md-block">
              <h5 class="text-left">¡PILAS CON LA PROGRAMACIÓN!</h5>
              <section class="descripcionCarousel">
                <h5 class="text-left">Fecha de fuego : {{fecha.0.fecha.fecha}}</h5>
                <h5 class="text-left text-capitalize">{{fecha.0.fecha.fechaDeportiva}}</h5>           
              </section>            
              <table id="bootstrap-data-table" class="table table-hover borderless tablaEncuentrosDeportivosSemanales">
                <thead>
                  <tr class="text-center">
                    <th>HORA</th>
                    <th>EQUIPO 1</th>
                    <th>EQUIPO 2</th>
                  </tr>
                </thead>
                <tbody>
                {% for encuentroDeportivo in fecha %}
                  <tr class="text-center">
                    <td hidden> {{ encuentroDeportivo.id }}</td>
                    <td>{{ encuentroDeportivo.hora }}</td>
                    <td>{{ encuentroDeportivo.equipo1 }}</td>
                    <td>{{ encuentroDeportivo.equipo2 }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endfor %}
        {% endif %}
        



        <div class="carousel-item">
          <img class="" src="{% static "images/estadio.jpeg"%}" alt="Second slide">
          <div class="carousel-caption d-md-block">
            <p>Trabajamos para traerte un nuevo espacio deportivo!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="" src="{% static "images/estadio.jpeg"%}" alt="Third slide">
          <div class="carousel-caption d-md-block">
            <h5>...</h5>
            <p>...</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  
  <section>
    <h1>liga</h1>
  </section>

  <script type="text/javascript">
    $('.carousel').carousel({
      interval: 2000
    })
  </script>






</body>

</html>