<!doctype html>
{% load static %}
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registro</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{% static "assets/css/normalize.css"%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "assets/css/font-awesome.min.css"%}">
    <link rel="stylesheet" href="{% static "assets/css/themify-icons.css"%}">
    <link rel="stylesheet" href="{% static "assets/css/flag-icon.min.css"%}">
    <link rel="stylesheet" href="{% static "assets/css/cs-skin-elastic.css"%}">
    <!-- <link rel="stylesheet" href="{% static "assets/css/bootstrap-select.less"%}"> -->
    <link rel="stylesheet" href="{% static "assets/scss/style.css"%}">
    <link href="{% static "assets/css/lib/vector-map/jqvmap.min.css"%}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "estilo.css" %}">


</head>
<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                {% block formulario %}
                
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="{% static "assets/js/vendor/jquery-2.1.4.min.js"%}"></script>
    <script src="{% static "assets/js/popper.min.js"%}"></script>
    <script src="{% static "assets/js/plugins.js"%}"></script>
    <script src="{% static "assets/js/main.js"%}"></script>
</body>
</html>
