{% extends 'dashboardBase.html' %} 
{% load static %}
{% block areaTrabajo %}


<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Encuentros Deportivos</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Campeonato</li>
                    <li class="active">Encuentro Deportivo</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div id="seccionErrores">
    {% if messages %}
        {% if field.errors %}
            <div class="col-sm-12">
            {% for field in formularioLogin %}
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                {% if field.errors %}
                    <span class="badge badge-pill badge-success">Error</span> {{ field.label }} : {{ field.errors|striptags }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {% endif %}
                </div>
            {% endfor %}
            </div>
        {% else %}
            <div class="col-sm-12">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message.message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div>

<div class="breadcrumbs">
    <div class="animated fadeIn">
        <form id="formularioAdministrarEncuentrosDeportivos" class="row" action="./" method="POST" onsubmit="return validarFormulario()">
            <div class="col-xs-12 col-sm-12">
                <div class="card borderless mt-4">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="formularioAdministrarFechas-fecha" class="d-block">Subcampeonato</label>
                            <div class="input-group d-inline-block">
                                {% if subcampeonatosRegistrados %}
                                    <select name="" id="">
                                    {% for subcampeonato in subcampeonatosRegistrados %}
                                        <option value="{{ subcampeonato.id }}">{{ subcampeonato }}</option>
                                    {% endfor %}
                                    </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="formularioAdministrarFechas-fecha" class="d-block">Fecha Deportiva</label>
                            <div class="row">
                                <div class="input-group col-sm-9 pl-0 pr-0">
                                    <div class="input-group-addon d-block">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input id="" name="formularioAdministrarFechas-fecha" class="form-control datepicker" type="text" required maxlength="50" autocomplete="off">
                                </div>
                                <div class="col-sm-3 pl-0 pr-0 text-center">
                                    <a class="btn btn-info text-white"><i class="fa fa-search"></i></a>
                                    <a class="btn btn-danger text-white"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="formularioAdministrarFechas-fecha" class="d-block">Fecha Deportiva</label>
                            <div class="row">
                                <div class="input-group col-sm-9 pl-0 pr-0">
                                    <div class="input-group-addon d-block">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input id="" name="formularioAdministrarFechas-fecha" class="form-control datepicker" type="text" required maxlength="50" autocomplete="off">
                                </div>
                                <div class="col-sm-3 pl-0 pr-0 text-center">
                                    <a class="btn btn-info text-white"><i class="fa fa-search"></i></a>
                                    <a class="btn btn-danger text-white"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="formularioAdministrarFechas-fecha" class="d-block">Fecha Deportiva</label>
                            <div class="row">
                                <div class="input-group col-sm-9 pl-0 pr-0">
                                    <div class="input-group-addon d-block">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input id="" name="formularioAdministrarFechas-fecha" class="form-control datepicker" type="text" required maxlength="50" autocomplete="off">
                                </div>
                                <div class="col-sm-3 pl-0 pr-0 text-center">
                                    <a class="btn btn-info text-white"><i class="fa fa-search"></i></a>
                                    <a class="btn btn-danger text-white"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body card-block">
                        <a class="btn btn-success text-white col-sm-12" onclick="insertarFilaHoraEquiposVacia()">Agregar nuevo encuentro deportivo</a>
                    </div>
                    <div class="card-body card-block">
                        <table id="bootstrap-data-table" class="table table-striped tableEncuentrosDeportivos text-center">
                            <thead>
                                <tr class="row">
                                    <td class="col-sm-1">Hora</td>
                                    <td class="col-sm-5">Equipo 1</td>
                                    <td class="col-sm-5 ">Equipo 2</td>
                                    <td class="col-sm-1"></td>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                        <div class="col-lg-12 text-center">
                            <button id="submit" class="btn btn-success" type="submit">Guardar</button>
                            <button class="btn btn-success" type="reset">Cancelar</button>
                        </div>
                    </div>                     
                </div>
            </div>
        </form>
    </div>
</div>

<!-- ClockPicker script -->
<script type="text/javascript" src="{% static "js/dist/jquery-clockpicker.min.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "js/dist/bootstrap-clockpicker.min.css"%}">
<script id="scriptEncuentrosDeportivos">

</script>

<script>

contadorFilaHoraEquipos = 0;

    //Inserta una fila para ingresar la hora de juego y los equipos participantes
    function insertarFilaHoraEquipos(hora){
        contadorFilaHoraEquipos++;
        var arrayEquipos = [];
        for (var i = 0; i < Object.keys(equipos).length; i++) {
            arrayEquipos.push(new Option(equipos[i].equipo.nombre, equipos[i].idEquipo));
        }

        $(".tableEncuentrosDeportivos").find('tbody')
                .append($('<tr>')
                    .attr('class', 'row')
                    .attr('id', 'filaHoraEquipos'+contadorFilaHoraEquipos)
                    .append($('<td>')
                        .attr('class', 'col-sm-1')
                        .append($('<input>')
                            .attr('type', 'text')
                            .attr('autocomplete', 'off')
                            .attr('class', 'clockpicker text-center')
                            .attr('name', 'formularioAdministrarEncuentrosDeportivos-hora')
                            .val(hora)
                        )
                    )
                    .append($('<td>')
                        .attr('class', 'col-sm-5')
                        .append($('<select>')
                            .attr('class', 'formularioAdministrarEncuentrosDeportivos-equipo1')
                            .attr('name', 'formularioAdministrarEncuentrosDeportivos-equipo1')
                            .append(arrayEquipos).clone()               
                        )
                    )
                    .append($('<td>')
                        .attr('class', 'col-sm-5')
                        .append($('<select>')
                            .attr('class', 'formularioAdministrarEncuentrosDeportivos-equipo2')
                            .attr('name', 'formularioAdministrarEncuentrosDeportivos-equipo2')
                            .append(arrayEquipos).clone()
                        )
                    )
                    .append($('<td>')
                        .attr('class', 'col-sm-1')
                        .append($('<a>')
                            .attr('onclick','eliminarFilaHoraEquipos('+contadorFilaHoraEquipos+')')
                            .append($('<img>')
                                .attr('src', '{% static "images/remove.png"%}')
                            )
                        )
                    )
                );
                
        
        $("#scriptEncuentrosDeportivos").find('script').remove();
        $("#scriptEncuentrosDeportivos").append($('<script>')
            .attr('type', 'text/javascript')
            .text("$('.clockpicker').clockpicker({autoclose: true});")
        );
    }

    //Inserta una fila hora equipo con hora 00:00
    function insertarFilaHoraEquiposVacia(){
        insertarFilaHoraEquipos((("0" + "0").slice(-2))+":"+(("0" + "0").slice(-2)));
    }

    //Crea un option para el select fecha
    function crearOptionFecha(idFecha, fecha){
        $('#formularioAdministrarEncuentrosDeportivos-fecha').append('<option value='+idFecha+'>'+fecha+'</option>');
    }

    //Elimina todos los options de fecha
    function eliminarOptionsFecha(){
        $('#formularioAdministrarEncuentrosDeportivos-fecha').empty();
    }

    //Elimina todas las horas de la tabla de encuentros deportivos
    function eliminarOptionsHora(){
        $('.tableEncuentrosDeportivos').find('tbody').empty();
    }

    //Elimina una fila de la tabla hora equipos
    function eliminarFilaHoraEquipos(idFilaHoraEquipos){
        $('#filaHoraEquipos'+idFilaHoraEquipos).remove();
    }

    //llena el select con las fechas registradas
    function llenarFechas(){
        eliminarOptionsFecha();
        for (var i = 0; i < Object.keys(fechas).length; i++) {
            var idFecha = fechas[i].fecha.id;
            crearOptionFecha(idFecha, fechas[i].fecha.fecha.year+"-"+(("0" + fechas[i].fecha.fecha.month).slice(-2))+"-"+("0" + fechas[i].fecha.fecha.day).slice(-2));
        }
        
    }

    //Llena la tabla con las horas consultadas
    function llenarHoras(){
        if ((Object.keys(horas).length)>0){
            for (var i = 0; i < Object.keys(horas).length; i++) {
                insertarFilaHoraEquipos((("0" + horas[i].hora.hora.hour).slice(-2))+":"+(("0" + horas[i].hora.hora.minutes).slice(-2)));
            }
        }else{
            insertarFilaHoraEquiposVacia();
        }
    }

    //Consulta las fechas registradas
    function consultarFechas(){
        idFechaDeportiva = $('#formularioAdministrarEncuentrosDeportivos-fechaDeportiva option:selected').val();
        $.ajax({
        type: 'POST',
        dataType: 'json',
        async: false,
        url: '{% url "administracion:prueba"%}',
        // The data sent to the Django view in JSON format
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            dato: idFechaDeportiva,
        },
        success: function (fechasRetorno) {
            fechas = JSON.parse(fechasRetorno);
        },
        error: function(err){
            alert("Error!");
        }
        });
    }
    
    //Consulta las horas registradas, acorde al horario seleccionado por el usuario
    function consultarHoras(){
        eliminarOptionsHora();
        idHorario = $('#formularioAdministrarEncuentrosDeportivos-horario option:selected').val();
        $.ajax({
        type: 'POST',
        dataType: 'json',
        async: false,
        url: '{% url "administracion:consultaHoras"%}',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            idHorario: idHorario,
        },
        success: function (data) {
            horas = JSON.parse(data);
        },
        error: function(err){
            alert("Error!");
        }
        });
        
    }
    
    //Consulta los equipos registrados
    function consultarEquipos(){
        $.ajax({
        type: 'POST',
        dataType: 'json',
        async: false,
        url: '{% url "administracion:consultaEquipos"%}',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function (data) {
            equipos = JSON.parse(data);
        },
        error: function(err){
            alert("Error!");
        }
        });
    }

    //Evento verifica cambio de fecha deportiva
    $('#formularioAdministrarEncuentrosDeportivos-fechaDeportiva').change(function(event) {
        consultarFechas();
        llenarFechas();
    });

    //Evento verifica cambio de horario
    $('#formularioAdministrarEncuentrosDeportivos-horario').change(function(event) {
        consultarHoras();
        llenarHoras();
    });

    //Verifica si un mismo equipo ha sido asignado a un partido. Debe haber dos equipos distintos por partido
    function existePartidoConUnSoloEquipo(){
        var evaluacion = false;
        $.each($(".formularioAdministrarEncuentrosDeportivos-equipo1"), function(i, valor){
            if($(this).val() == $(".formularioAdministrarEncuentrosDeportivos-equipo2")[i].value){
                evaluacion = true;
                $("#seccionErrores").append($('<div>')
                    .attr('class', 'alert alert-danger alert-dismissible')
                    .text('No ha sido posible guardar los encuentros deportivos ingresados. Un mismo equipo ha sido asignado a un partido')            
                    .append($('<a>')
                        .attr('href','#')
                        .attr('class','close')
                        .attr('data-dismiss','alert')
                        .attr('aria-label','close')
                        .text('*')
                    )
                    
                );
            }
        })
        return evaluacion;
    }

    function existeHoraDuplicada(){
        equiposExistentes.filter(function(equipoEvaluado){
            
        })

        $.each($(".clockpicker"), function(i, valor){
            equiposExistentes.filter(function(equipoEvaluado){
            
            })
        })
    }

    function existeHorasDuplicadas(){
        var evaluacion = false;
        var horasRepetidas = [];
        var horasExistentes = [];
        var contadorHorasRepetidas = 0;
        var contadorArrayHorasRepetidas = 0;

        $.each($(".clockpicker"), function(i, hora){
            horasExistentes.push(hora.value);
        })

        $.each(horasExistentes, function(i, horaSeleccionada){
            contadorHorasRepetidas = 0;
            $(".clockpicker").filter(function(j, horaEvaluada){
                if (horaSeleccionada == horaEvaluada.value){
                    contadorHorasRepetidas++;
                    if (contadorHorasRepetidas == 2){
                        contadorArrayHorasRepetidas = 0;
                        horasRepetidas.filter(function(horaRepetida){
                            if(horaRepetida == horaEvaluada.value){
                                contadorArrayHorasRepetidas++;
                            }
                        })
                        if(contadorArrayHorasRepetidas==0){
                            horasRepetidas.push(horaEvaluada.value);
                            evaluacion = true;
                        }
                    }
                }
            });
        });


        if (horasRepetidas.length>0){
            $("#seccionErrores").append($('<div>')
                .attr('class', 'alert alert-danger alert-dismissible')
                .text('No ha sido posible guardar los encuentros deportivos ingresados. Existe más de un partido planificado para las: '+horasRepetidas)            
                .append($('<a>')
                    .attr('href','#')
                    .attr('class','close')
                    .attr('data-dismiss','alert')
                    .attr('aria-label','close')
                    .text('*')
                )
                
            );
        }
        return evaluacion;       
    }

    function existeEncuentrosDeportivosDuplicados(){
        var equiposRepetidos = [];
        var equiposExistentes = [];
        var contadorEquipoRepetido = 0;
        var contadorArrayEquiposRepetidos = 0;

        $.each($(".formularioAdministrarEncuentrosDeportivos-equipo1"), function(i, valor){
            equiposExistentes.push($(this).val());
            equiposExistentes.push($(".formularioAdministrarEncuentrosDeportivos-equipo2")[i].value);
        })

        $.each(equiposExistentes, function(i, equipoSeleccianado){
            contadorEquipoRepetido = 0;
            equiposExistentes.filter(function(equipoEvaluado){
                if (equipoSeleccianado == equipoEvaluado){
                    contadorEquipoRepetido++;
                    if (contadorEquipoRepetido == 2){
                        equiposRepetidos.filter(function(equipoRepetido){
                            if(equipoRepetido == equipoEvaluado){
                                contadorArrayEquiposRepetidos++;
                            }
                        })
                        if(contadorArrayEquiposRepetidos==0){
                            equiposRepetidos.push(equipoEvaluado);
                        }
                    }
                }
            });
        });

        $.each(equiposRepetidos, function(j, idEquipoRepetido){
            for (var k = 0; k < Object.keys(equipos).length; k++) {
                if (equipos[k].idEquipo == idEquipoRepetido){
                    alert(equipos[k].equipo.nombre);
                }
            }
        })
        
                
    }

    function validarFormulario(){
        
        if(existePartidoConUnSoloEquipo() | existeHorasDuplicadas()){
            return false;
        }
        return true;

    }

    $(function() {
        consultarFechas();
        consultarHoras();
        consultarEquipos();
        llenarFechas();
        llenarHoras();
    });
</script>

{% endblock %}