{% extends 'baseFormulario.html' %}

{% block formulario %}
    <section class="titulo">
        <h2>Liga Deportiva Parroquial de Nono</h2>
    </section>
    <section class="subtitulo">
        <p>Autenticación de usuarios</p>
    </section>
    <div class="login-form">
        <form action="./" method="POST" class="col-md-12 t-center">
            {% csrf_token %}
            {{formularioLogin.username.label_tag }}
            {{formularioLogin.username}}
            {{formularioLogin.password.label_tag }}
            {{formularioLogin.password}}

            {% if messages %}
                <section class="seccionErrores">

                    {% if field.errors %}
                        {% for field in formularioLogin %}
                            {% if field.errors %}
                                <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    {% endif %}
                </section>
            {% endif %}

            <button type="submit" class="btn btn-rojo btn-flat m-b-30 m-t-30">Sign in</button>
        </form>
    </div>
{% endblock %}