{% extends 'dashboardBase.html' %} 
{% load static %}
{% block areaTrabajo %}

<div class="breadcrumbs mb-1">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Administrar Catalogos</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Ajustes</li>
                    <li class="active">Administrar Catalogos</li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% if formularioAgregarCatalogo.errors %}
<div class="col-sm-12">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h6>No ha sido posible almacenar la información ingresada debido a los siguientes errores:</h6>
    {% for field in formularioAgregarCatalogo %}
        {% if field.errors %}
            {% for error in field.errors %}
                <p><strong>Campo en conflicto: </strong>{{ field.name }}</p>
                <p><strong>Descripción: </strong><span class="text-lowercase">{{ error|escape }}</span></p>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
</div>
{% endif %}

<div class="content mt-1">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-xs-5 col-sm-5">
                <div class="card">
                    <div class="card-header">
                        <strong>Agregar Catalogo</strong>
                    </div>
                    <form action="{% url 'administracion:agregarCatalogo' %}" method="POST" class="card-body card-block" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-group col-sm-12">
                            <label for="">Nombre del catalogo</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                    {{formularioAgregarCatalogo.nombreCatalogo}}                                   
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="">Descripción</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                    {{formularioAgregarCatalogo.descripcionCatalogo}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-success" type="submit">Guardar</button>
                            <button class="btn btn-success" type="reset">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-7 col-sm-7">
                <div class="card">
                    <div class="card-header">
                        <strong>Catalogos Registrados</strong>
                    </div>
                    <div class="card-body card-block">
                        {% if catalogosRegistrados %}
                            <table id="bootstrap-data-table" class="table table-striped tableFechas">
                                    <thead>
                                      <tr class="text-center row">
                                        <th class="col-sm-4">Nombre</th>
                                        <th class="col-sm-6">Descripción</th>
                                        <th class="col-sm-1"></th>
                                        <th class="col-sm-1"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for catalogo in catalogosRegistrados %}
                                      <tr class="text-center row">
                                        <td hidden> {{ catalogo.id }}</td>
                                        <td class="col-sm-4"> {{ catalogo }}</td>
                                        <td class="col-sm-6"> {{ catalogo.descripcionCatalogo }}</td>
                                        <td class="col-sm-1"><a onclick="setDatosCatalogo('{{ catalogo.id }}','{{ catalogo.nombreCatalogo }}', '{{ catalogo.descripcionCatalogo}}')" data-toggle="modal" data-target="#largeModal"><img src="{% static "images/update.png"%}"></a></td>
                                        <td class="col-sm-1"><a href="{% url 'administracion:eliminarCatalogo' catalogo.id %}"><img src="{% static "images/remove.png"%}"></a></td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header mb-3">
                <h5 class="modal-title" id="largeModalLabel">Modificar Fecha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if formularioActualizarCatalogo.errors %}
                <div class="col-sm-12">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <h6>No ha sido posible almacenar la información ingresada debido a los siguientes errores:</h6>
                    {% for field in formularioActualizarCatalogo %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p><strong>Campo en conflicto: </strong>{{ field.name }}</p>
                                <p><strong>Descripción: </strong><span class="text-lowercase">{{ error|escape }}</span></p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                </div>
            {% endif %}
            <form action="{% url 'administracion:actualizarCatalogo' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="form-group col-sm-12">
                    {{formularioActualizarCatalogo.id.as_hidden }}
                    <label for="">Nombre del campeonato</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-pencil"></i>
                            </div>
                            {{formularioActualizarCatalogo.nombreCatalogo}}
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label for="">Fecha de inicio</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            {{formularioActualizarCatalogo.descripcionCatalogo}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="sub" class="btn btn-success" type="submit">Guardar</button>
                    <button class="btn btn-success" data-dismiss="modal" aria-label="Close">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% if formularioActualizarCatalogo.errors %}
<script>
    $(function(){
        $('#largeModal').modal('show');
    })
</script>
{% endif %}

<script>
    function setDatosCatalogo(id, nombre, descripcion){
        $('#id_formularioActualizarCatalogo-id').val(id);
        $('#id_formularioActualizarCatalogo-nombreCatalogo').val(nombre);
        $('#id_formularioActualizarCatalogo-descripcionCatalogo').val(descripcion);
    }

</script>


{% endblock %}