{% extends 'dashboardBase.html' %} 
{% load static %}
{% block areaTrabajo %}

<div class="breadcrumbs mb-1">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Administrar Campeonatos</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Campeonato</li>
                    <li class="active">Administrar Campeonatos</li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% if formularioAgregarCampeonatoDeportivo.errors %}
<div class="col-sm-12">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h6>No ha sido posible almacenar la información ingresada debido a los siguientes errores:</h6>
    {% for field in formularioAgregarCampeonatoDeportivo %}
        {% if field.errors %}
            {% for error in field.errors %}
                <p><strong>Campo en conflicto: </strong>{{ field.name }}</p>
                <p><strong>Descripción: </strong><span class="text-lowercase">{{ error|escape }}</span></p>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
</div>
{% endif %}

<div class="content mt-1">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-xs-5 col-sm-5">
                <div class="card">
                    <div class="card-header">
                        <strong>Agregar Campeonato Deportivo</strong>
                    </div>
                    <form action="{% url 'administracion:agregarCampeonatoDeportivo' %}" method="POST" class="card-body card-block" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-group col-sm-12">
                            <label for="">Nombre del campeonato</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                    {{formularioAgregarCampeonatoDeportivo.nombre}}                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="">Fecha de inicio</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    {{formularioAgregarCampeonatoDeportivo.fechaInicio}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="">Predefinido</label>
                            {{formularioAgregarCampeonatoDeportivo.predefinido}}
                        </div>
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-success" type="submit">Guardar</button>
                            <button class="btn btn-success" type="reset">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-7 col-sm-7">
                <div class="card">
                    <div class="card-header">
                        <strong>Campeonatos Deportivos Registrados</strong>
                    </div>
                    <div class="card-body card-block">
                        {% if campeonatosDeportivosRegistrados %}
                            <table id="bootstrap-data-table" class="table table-striped tableFechas">
                                    <thead>
                                      <tr class="text-center row">
                                        <th class="col-sm-5">Nombre</th>
                                        <th class="col-sm-3">Fecha inicio</th>
                                        <th class="col-sm-2">Pred.</th>
                                        <th class="col-sm-1"></th>
                                        <th class="col-sm-1"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for campeonato in campeonatosDeportivosRegistrados %}
                                      <tr class="text-center row">
                                        <td hidden> {{ campeonato.id }}</td>
                                        <td class="col-sm-5"> {{ campeonato }}</td>
                                        <td class="col-sm-3"> {{ campeonato.fechaInicio.isoformat }}</td>
                                        <td class="col-sm-2"> {{ campeonato.predefinido }}</td>
                                        <td class="col-sm-1"><a onclick="setDatosCampeonatoDeportivo('{{ campeonato.id }}','{{ campeonato.nombre }}', '{{ campeonato.fechaInicio.isoformat}}', '{{ campeonato.predefinido}}')" data-toggle="modal" data-target="#largeModal"><img src="{% static "images/update.png"%}"></a></td>
                                        <td class="col-sm-1"><a href="{% url 'administracion:eliminarCampeonatoDeportivo' campeonato.id %}"><img src="{% static "images/remove.png"%}"></a></td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header mb-3">
                <h5 class="modal-title" id="largeModalLabel">Modificar Fecha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if formularioActualizarCampeonatoDeportivo.errors %}
                <div class="col-sm-12">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <h6>No ha sido posible almacenar la información ingresada debido a los siguientes errores:</h6>
                    {% for field in formularioActualizarCampeonatoDeportivo %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p><strong>Campo en conflicto: </strong>{{ field.name }}</p>
                                <p><strong>Descripción: </strong><span class="text-lowercase">{{ error|escape }}</span></p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                </div>
            {% endif %}
            <form action="{% url 'administracion:actualizarCampeonatoDeportivo' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="form-group col-sm-12">
                    {{formularioActualizarCampeonatoDeportivo.id.as_hidden }}
                    <label for="">Nombre del campeonato</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-pencil"></i>
                            </div>
                            {{formularioActualizarCampeonatoDeportivo.nombre}}
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label for="">Fecha de inicio</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            {{formularioActualizarCampeonatoDeportivo.fechaInicio}}
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label for="">Predefinido</label>
                     {{formularioActualizarCampeonatoDeportivo.predefinido}}
                </div>
                <div class="modal-footer">
                    <button id="sub" class="btn btn-success" type="submit">Guardar</button>
                    <button class="btn btn-success" data-dismiss="modal" aria-label="Close">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% if formularioActualizarCampeonatoDeportivo.errors %}
<script>
    $(function(){
        $('#largeModal').modal('show');
    })
</script>
{% endif %}

<script>
    $(function(){
        $('#id_formularioAgregarCampeonatoDeportivo-fechaInicio').datepicker({ dateFormat: 'yy-mm-dd' }),
        $('#id_formularioActualizarCampeonatoDeportivo-fechaInicio').datepicker({ dateFormat: 'yy-mm-dd' })
    });

    function setDatosCampeonatoDeportivo(id, nombre, fechaInicio, predefinido){
        $('#id_formularioActualizarCampeonatoDeportivo-id').val(id);
        $('#id_formularioActualizarCampeonatoDeportivo-nombre').val(nombre);
        $('#id_formularioActualizarCampeonatoDeportivo-fechaInicio').val(fechaInicio);
        if(predefinido=='True'){
            $('#id_formularioActualizarCampeonatoDeportivo-predefinido').prop( "checked", true )
        }else{
            $('#id_formularioActualizarCampeonatoDeportivo-predefinido').prop( "checked", false )
        }
    }

</script>


{% endblock %}