{% extends 'dashboardBase.html' %} 
{% block areaTrabajo %}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Cargar lista de inscripción</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Inscripciones</li>
                    <li class="active">Cargar lista</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">

    <div class="row">

        {% if messages %}
                {% if field.errors %}
                    <div class="col-sm-12">
                    {% for field in formularioLogin %}
                        <div class="alert  alert-success alert-dismissible fade show" role="alert">
                        {% if field.errors %}
                            <span class="badge badge-pill badge-success">Error</span> {{ field.label }} : {{ field.errors|striptags }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <div class="col-sm-12">
                    {% for message in messages %}
                        <div class="alert  alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            <span class="badge badge-pill badge-{{message.tags}}">{{ message.tags }}</span> {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
        {% endif %}
        
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Cargar lista de inscripción</strong>
                </div>
                <div class="card-body">
                    <!-- Credit Card -->
                    <div id="pay-invoice">
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center">Cargar lista Equipos - Jugadores</h3>
                            </div>
                            <hr>
                            <form action="./" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="file" class="control-label mb-1">Archivo CSV</label>
                                    <input id="cc-pament" name="formularioListaEquipos-file" type="file" class="form-control" accept=".CSV">
                                </div>
                                <div>
                                    <button id="payment-button" type="submit" class="btn btn-lg btn-success btn-block">
                                        <i class="fa fa-cloud-upload fa-lg"></i>&nbsp;
                                        <span id="payment-button-amount">Cargar listado</span>
                                        <span id="payment-button-sending" style="display:none;">Sending…</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <!-- .card -->
        </div>
    </div>
</div>

{% endblock %}