{% extends 'dashboardBase.html' %} 
{% load static %}
{% block areaTrabajo %}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Fechas Deportivas</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Campeonato</li>
                    <li class="active">Fechas Deportivas</li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% if messages %}
    {% if field.errors %}
        <div class="col-sm-12">
        {% for field in formularioLogin %}
            <div class="alert  alert-success alert-dismissible fade show" role="alert">
            {% if field.errors %}
                <span class="badge badge-pill badge-success">Error</span> {{ field.label }} : {{ field.errors|striptags }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endif %}
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="col-sm-12">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message.message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endif %}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <div class="card">
                    <div class="ard-header">
                        <strong>Agregar Fecha Deportiva</strong>
                    </div>
                    <form action="./" method="POST" class="card-body card-block">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class=" form-control-label">Nombre de la fecha</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-pencil"></i>
                                </div>
                                <input name = "formularioAdministrarFechasDeportivas-nombre" class="form-control" type="text" required maxlength="50">
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-success" type="submit">Guardar</button>
                            <button class="btn btn-success" type="reset">Cancelar</button>
                        </div>                        
                    </form>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Fechas Deportivas Registradas</strong>
                    </div>
                    <div class="card-body card-block">
                        {% if listaFechas %}
                            <table id="bootstrap-data-table" class="table table-striped table-bordered tableFechas">
                                    <thead>
                                      <tr class="text-center">
                                        <th>Nombre</th>
                                        <th>Actualizar</th>
                                        <th>Eliminar</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for fecha in listaFechas %}
                                      <tr class="text-center">
                                        <td hidden> {{ fecha.id }}</td>
                                        <td> {{ fecha }}</td>
                                        <td><a onclick="setFecha('{{ fecha.id }}',' {{ fecha }}')" data-toggle="modal" data-target="#largeModal"><img src="{% static "images/update.png"%}"></a></td>
                                        <td><a href="{% url 'administracion:eliminarFechaDeportiva' fecha.id %}"><img src="{% static "images/remove.png"%}"></a></td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Modificar Fecha Deportiva</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'administracion:actualizarHorario'%}" method="POST" >
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class=" form-control-label">Nombre de la fecha</label>
                        <div class="input-group">
                            <input id="idNombre" type="text" name="formularioActualizarFechaDeportiva-idNombre" hidden readonly>
                            <div class="input-group-addon">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <input id="nombre" name = "formularioActualizarFechaDeportiva-nombre" class="form-control" type="text" required maxlength="50">
                        </div>
                    </div>                        
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">Guardar</button>
                    <button class="btn btn-success" data-dismiss="modal" aria-label="Close">Cancelar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script type="text/javascript">
    function setFecha(id, nombre){
        $("#idNombre").val(id);
        $("#nombre").val(nombre);
    }
</script>


<script src="{% static "assets/js/lib/data-table/datatables.min.js"%}"></script>
<script src="{% static "assets/js/lib/data-table/dataTables.bootstrap.min.js"%}"></script>
<script src="{% static "assets/js/lib/data-table/dataTables.buttons.min.js"%}"></script>
<script src="{% static "assets/js/lib/data-table/buttons.bootstrap.min.js"%}"></script>
<script src="{% static "assets/js/lib/data-table/jszip.min.js"%}"></script>
<script src="{% static "assets/js/lib/data-table/pdfmake.min.js"%}"></script>
<script src="{% static "assets/js/lib/data-table/vfs_fonts.js"%}"></script>
<script src="{% static "assets/js/lib/data-table/buttons.html5.min.js"%}"></script>
<script src="{% static "assets/js/lib/data-table/buttons.print.min.js"%}"></script>
<script src="{% static "assets/js/lib/data-table/buttons.colVis.min.js"%}"></script>
<script src="{% static "assets/js/lib/data-table/datatables-init.js"%}"></script>




{% endblock %}