{% extends 'dashboardBase.html' %} 
{% load static %}
{% block areaTrabajo %}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Horas</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Campeonato</li>
                    <li class="active">Horarios</li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% if messages %}
    {% if field.errors %}
        <div class="col-sm-12">
        {% for field in formularioLogin %}
            <div class="alert  alert-success alert-dismissible fade show" role="alert">
            {% if field.errors %}
                <span class="badge badge-pill badge-success">Error</span> {{ field.label }} : {{ field.errors|striptags }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endif %}
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="col-sm-12">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message.message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endif %}


<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-xs-5 col-sm-5">
                <div class="card">
                    <div class="card-header">
                        <strong>Agregar hora de juego</strong>
                    </div>
                    <form action="./" method="POST" class="card-body card-block">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <label class="form-control-label">Horario</label>
                                {% if listaHorarios %}
                                <select name="formularioAdministrarHoras-horario" id="formularioAdministrarHoras-horario">
                                    {% for horario in listaHorarios %}
                                    <option value="{{horario.id}}">{{horario}}</option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Hora de juego</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input name="formularioAdministrarHoras-hora" id="formularioAdministrarHoras-hora" class="form-control timepicker" type="text" required maxlength="50">
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                                <button class="btn btn-success" type="submit">Guardar</button>
                                <button class="btn btn-success" type="reset">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-7 col-sm-7">
                    <div class="card">
                        <div class="card-header">
                            <strong>Horas de juego registradas</strong>
                        </div>
                        <div class="card-body card-block">
                            {% if listaHoras %}
                                <table id="bootstrap-data-table" class="table table-striped table-bordered tableFechas">
                                        <thead>
                                          <tr class="text-center">
                                            <th>Horario</th>
                                            <th>Hora</th>
                                            <th>Actualizar</th>
                                            <th>Eliminar</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for hora in listaHoras %}
                                          <tr class="text-center">
                                            <td hidden> {{ hora.id }}</td>
                                            <td> {{ hora.horario }}</td>
                                            <td> {{ hora }}</td>
                                            <td><a onclick="setHora('{{ hora.id }}',' {{ hora.horario.id }}', '{{ hora }}')" data-toggle="modal" data-target="#largeModal"><img src="{% static "images/update.png"%}"></a></td>
                                            <td><a href="{% url 'administracion:eliminarHora' hora.id %}"><img src="{% static "images/remove.png"%}"></a></td>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>               
                </div>
        </div>
    </div>
</div>

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Modificar hora de juego</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'administracion:actualizarHora'%}" method="POST" >
                {% csrf_token %}
                <div class="modal-body">
                    <input id="formularioActualizarHora-idHora" name="formularioActualizarHora-idHora" type="text" readonly hidden >
                    <div class="form-group">
                        <div class="input-group">
                        <label class="form-control-label">Horario</label>
                            {% if listaHorarios %}
                                <select name="formularioActualizarHora-horario" id="formularioActualizarHora-horario">
                                    {% for horario in listaHorarios %}
                                    <option value="{{horario.id}}">{{horario}}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <input name="formularioActualizarHora-hora" id="formularioActualizarHora-hora" class="form-control timepicker" type="text" required maxlength="50" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">Guardar</button>
                    <button class="btn btn-success" data-dismiss="modal" aria-label="Close">Cancelar</button>
                </div>
            </form>

        </div>
    </div>
</div>


<!-- ClockPicker script -->
<script type="text/javascript" src="{% static "js/dist/jquery-clockpicker.min.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "js/dist/bootstrap-clockpicker.min.css"%}">
<script type="text/javascript">
    $('.timepicker').clockpicker({
        autoclose: true
    });

    if (something) {
        // Manual operations (after clockpicker is initialized).
        $('.timepicker').clockpicker('show') // Or hide, remove ...
                .clockpicker('toggleView', 'minutes');
    }

    $( function() {
        $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
    } );    

    function setHora(idHora, idHorario, hora){
        $('#formularioActualizarHora-idHora').val(idHora);
        $('#formularioActualizarHora-horario').val(parseInt(idHorario)).prop('selected', true);
        $("#formularioActualizarHora-hora").val(hora);

    }
</script>
{% endblock %}