{% extends 'dashboardBase.html' %} 
{% load static %} 

{% block bloqueImportaciones %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script> 
{% endblock %} 

{% block areaTrabajo %}
<div class="breadcrumbs mb-1">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Administrar Pases Deportivos</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Campeonato</li>
                    <li class="active">Administrar Pases Deportivos</li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% if formularioAgregarInscripcionJugador.errors %}
<div class="col-sm-12">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h6>No ha sido posible almacenar la información ingresada debido a los siguientes errores:</h6>
        {% for field in formularioAgregarInscripcionJugador %} {% if field.errors %} {% for error in field.errors %}
        <p><strong>Campo en conflicto: </strong>{{ field.name }}</p>
        <p><strong>Descripción: </strong><span class="text-lowercase">{{ error|escape }}</span></p>
        {% endfor %} {% endif %} {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endif %}

<div class="breadcrumbs mb-1">
    <div class="animated fadeIn">
        <form action="{% url 'administracion:agregarInscripcionJugador' %}" method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="row panelSelect">
                <div class="form-group col-sm-4">
                    <label>Campeonato</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" value="{{campeonatoActual.nombre}}">
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label>Subcampeonato</label>
                    <div class="input-group">
                        <select name="selectSubcampeonatos" id="selectSubcampeonatos">
                        {% for subcampeonato in subcampeonatosRegistrados %}
                            <option value="{{subcampeonato.id}}">{{subcampeonato.modalidad.nombreItem}}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label>Equipo</label>
                    <div class="input-group">
                        <select name="formularioAgregarInscripcionJugador-inscripcionEquipo" id="id_formularioAgregarInscripcionJugador-inscripcionEquipo">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <table id="tablaJugadoresInscritos" class="display" data-order='[[1, "asc" ]]'> 
                        <thead>
                            <th class="text-center">id</th>
                            <th class="text-center">Género</th>
                            <th class="text-center">Cédula</th>
                            <th class="text-center">Nombres</th>
                            <th class="text-center">Apellidos</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modalAgregarPaseDeportivo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header mb-3">
                <h5 class="modal-title" id="largeModalLabel">Agregar Jugador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if formularioAgregarPaseDeportivo.errors %}
            <div class="col-sm-12">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h6>No ha sido posible almacenar la información ingresada debido a los siguientes errores:</h6>
                    {% for field in formularioAgregarPaseDeportivo %} {% if field.errors %} {% for error in field.errors %}
                    <p>
                        <strong>Campo en conflicto: </strong>{{ field.name }}</p>
                    <p>
                        <strong>Descripción: </strong>
                        <span class="text-lowercase">{{ error|escape }}</span>
                    </p>
                    {% endfor %} {% endif %} {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% endif %}
            <form action="{% url 'administracion:agregarPaseDeportivo' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="form-group col-sm-12">
                    <label for="">Jugador</label>
                    <div class="input-group">
                        {{formularioAgregarPaseDeportivo.jugador}}
                        <div class="input-group-addon btn" id="btnConsultarJugador">
                            <a class="btn-success" data-toggle="modal" data-target="#modalJugadoresRegistrados"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label for="">Equipo Destino</label>
                    <div class="form-group">
                        <div class="input-group">
                            {{formularioAgregarPaseDeportivo.equipoDestino}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="sub" class="btn btn-success" type="submit">Guardar</button>
                    <button class="btn btn-success" data-dismiss="modal" aria-label="Close">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalJugadoresRegistrados" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Seleccionar Jugador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table id="tablaJugadoresRegistrados" class="display" data-order='[[1, "asc" ]]' data-page-length='10'> 
                <thead>
                    <tr>
                        <th class="text-center">Género</th>
                        <th class="text-center">Cédula</th>
                        <th class="text-center">Nombres</th>
                        <th class="text-center">Apellidos</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button id="aceptar">ACEPTAR</button>
        </div>
    </div>
</div>

{% if formularioAgregarPaseDeportivo.errors %}
<script>
    $(function () {
        $('#modalAgregarPaseDeportivo').modal('show');
    })
</script> 
{% endif %} 

<script>
    var jugadores;
    var tablaJugadoresInscritos;
    $(document).ready(function () {

        var tablaJugadoresRegistrados = $('#tablaJugadoresRegistrados').DataTable({
            "searching": true,
            "paging": true,
            "info": false,
            "lengthChange": false,
            "pageLength": 5,
        });

        tablaJugadoresInscritos = $('#tablaJugadoresInscritos').DataTable({
            "searching": true,
            "paging": false,
            "info": false,
            "lengthChange": false,
            "pageLength": 5,
        });

        //tablaJugadoresInscritos.column( 0 ).visible( false );        

        ($('<a>')
            .append($('<i>')
                .attr('class', 'fa fa-plus')
            )
            .attr('class', 'btn btn-success btn-agregarDatatable')
            .attr('id', 'btnAgregarJugador')
            .attr('data-toggle', 'modal')
            .attr('data-target', '#modalJugadoresRegistrados')
        )
            .insertBefore($('#tablaJugadoresInscritos_filter'));

        ($('<button>')
            .append($('<i>')
                .attr('class', 'fa fa-save')
            )
            .attr('class', 'btn btn-success btn-guardarInscripcionJugador')
            .attr('id', 'btnAgregarJugador')
            .attr('type', 'submit')
        )
            .insertBefore($('#tablaJugadoresInscritos_filter'));

        $('#selectSubcampeonatos').change(function(){
            eliminarOptionsEquipo();
            consultarEquiposInscritosDadoSubcampeonato();
            eliminarFilasJugadoresRegistrados();
            eliminarFilasJugadoresInscritos();
        });

        $('#id_formularioAgregarInscripcionJugador-inscripcionEquipo').change(function(){
            consultarJugadoresDadoSubcampeonato();
        });

        $('#aceptar').click(function(){
            eliminarFilasJugadoresInscritos();
            tablaJugadoresRegistrados.$('tbody tr').each(function(indexFila, i){
                if($(this).find('td input[type="checkbox"]').is(':checked')){
                    buscarJugadorDatoId($(this).find('td input[type="checkbox"]').val());
                }
            });
            $("#modalJugadoresRegistrados").modal('hide');
        })

    });

    function buscarJugadorDatoId(id){
        for (var k = 0; k < Object.keys(jugadores).length; k++) {
            if(id==jugadores[k].id){
                agregarFilaJugadoresInscritos(jugadores[k].id, jugadores[k].numeroCedula, jugadores[k].genero, jugadores[k].nombres, jugadores[k].apellidos);
            }
        }
    }

    function consultarEquiposInscritosDadoSubcampeonato(){
        idSubcampeonato = $('#selectSubcampeonatos option:selected').val();
        $.ajax({
        type: 'POST',
        dataType: 'json',
        async: false,
        url: '{% url "administracion:consultarEquiposInscritosDadoSubcampeonato"%}',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            idSubcampeonato: idSubcampeonato
        },
        success: function (data) {
            equipos = JSON.parse(data);
            for (var k = 0; k < Object.keys(equipos).length; k++) {
                agregarOptionsEquipo(equipos[k].id, equipos[k].nombre);
            }
        },
        error: function(err){
            alert("No se encuentran equipos candidatos para transferir al jugador, esto puede deberse a:\n\n- Error de conexión con el servidor.\n- El campeonato actual no cuenta con un subcampeonato (masculino/femenino) acorde a la modalidad del jugador.");
        }
        });
    }

    function eliminarOptionsEquipo(){
        $("#id_formularioAgregarInscripcionJugador-inscripcionEquipo option").each(function() {
            $(this).remove();
        });

        $("#id_formularioAgregarInscripcionJugador-inscripcionEquipo").append($('<option>')
            .val('')
            .text("Seleccionar")                           
        );
    }

    function agregarOptionsEquipo(id, nombre){ 
        $('#id_formularioAgregarInscripcionJugador-inscripcionEquipo').append(
            $('<option>')
            .text(nombre)
            .val(id)
        )
    }

    function consultarJugadoresDadoSubcampeonato(){
        idSubcampeonato = $('#selectSubcampeonatos option:selected').val();
        idInscripcionEquipo = $('#id_formularioAgregarInscripcionJugador-inscripcionEquipo option:selected').val();
        $.ajax({
        type: 'POST',
        dataType: 'json',
        async: false,
        url: '{% url "administracion:consultarJugadoresDadoSubcampeonato"%}',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            idSubcampeonato: idSubcampeonato,
            idInscripcionEquipo: idInscripcionEquipo
        },
        success: function (data) {
            alert(data);
            jugadores = JSON.parse(data);
            for (var k = 0; k < Object.keys(jugadores).length; k++) {
                agregarFilaJugadoresRegistrados(jugadores[k].id, jugadores[k].numeroCedula, jugadores[k].genero, jugadores[k].nombres, jugadores[k].apellidos);
            }
        },
        error: function(err){
            alert("No se encuentran equipos candidatos para transferir al jugador, esto puede deberse a:\n\n- Error de conexión con el servidor.\n- El campeonato actual no cuenta con un subcampeonato (masculino/femenino) acorde a la modalidad del jugador.");
        }
        });
    }

    function eliminarFilasJugadoresRegistrados(){
        var table = $('#tablaJugadoresRegistrados').DataTable();
 
        var rows = table
        .rows()
        .remove()
        .draw();
    }

    function agregarFilaJugadoresRegistrados(idJugador, numeroCedula, genero, nombres, apellidos){ 
        
        var tablaJugadoresRegistrados = $('#tablaJugadoresRegistrados').DataTable();

        tablaJugadoresRegistrados.row.add([
            genero,
            numeroCedula,
            nombres,
            apellidos,
            '<input type="checkbox" value="'+idJugador+'">'
        ] ).draw( true );

    }

    function eliminarFilasJugadoresInscritos(){
        tablaJugadoresInscritos.rows().remove().draw();
    }

    function agregarFilaJugadoresInscritos(idJugador, numeroCedula, genero, nombres, apellidos){ 
        tablaJugadoresInscritos.row.add([
            '<input type="input" value="'+idJugador+'" name="formularioAgregarInscripcionJugador-jugador">',
            genero,
            numeroCedula,
            nombres,
            apellidos
        ] ).draw( true );

    }

</script> 
{% endblock %}