{% extends 'dashboardBase.html' %} 
{% load static %} 

{% block bloqueImportaciones %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script> 
{% endblock %} 

{% block areaTrabajo %}
<div class="breadcrumbs mb-1">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Administrar Pases Deportivos</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Campeonato</li>
                    <li class="active">Administrar Pases Deportivos</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs mb-1">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <table id="tablaPasesDeportivosRegistrados" class="display" data-order='[[3, "asc" ]]' data-page-length='20'>
                    <thead>
                        <tr>
                            <th class="text-center">Jugador</th>
                            <th class="text-center">Equipo Destino</th>
                            <th class="text-center">Vigencia</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for paseDeportivo in pasesDeportivosRegistrados %}
                        <tr>
                        <td class="text-center"> {{ paseDeportivo.jugador.nombres }} {{ paseDeportivo.jugador.apellidos }}</td>
                        <td class="text-center"> {{ paseDeportivo.equipoDestino.nombre }}</td>
                        <td class="text-center"> {{ paseDeportivo.campeonatoDeportivoVigencia }}</td>
                        <td class="text-center"><a href="{% url 'administracion:eliminarPaseDeportivo' paseDeportivo.id %}"><img src="{% static "images/remove.png"%}"></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAgregarPaseDeportivo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header mb-3">
                <h5 class="modal-title" id="largeModalLabel">Agregar Jugador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if formularioAgregarPaseDeportivo.errors %}
            <div class="col-sm-12">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h6>No ha sido posible almacenar la información ingresada debido a los siguientes errores:</h6>
                    {% for field in formularioAgregarPaseDeportivo %} {% if field.errors %} {% for error in field.errors %}
                    <p>
                        <strong>Campo en conflicto: </strong>{{ field.name }}</p>
                    <p>
                        <strong>Descripción: </strong>
                        <span class="text-lowercase">{{ error|escape }}</span>
                    </p>
                    {% endfor %} {% endif %} {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% endif %}
            <form action="{% url 'administracion:agregarPaseDeportivo' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="form-group col-sm-12">
                    <label for="">Jugador</label>
                    <div class="input-group">
                        {{formularioAgregarPaseDeportivo.jugador}}
                        <div class="input-group-addon btn" id="btnConsultarJugador">
                            <a class="btn-success" data-toggle="modal" data-target="#modalJugadoresRegistrados"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label for="">Equipo Destino</label>
                    <div class="form-group">
                        <div class="input-group">
                            {{formularioAgregarPaseDeportivo.equipoDestino}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="sub" class="btn btn-success" type="submit">Guardar</button>
                    <button class="btn btn-success" data-dismiss="modal" aria-label="Close">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalJugadoresRegistrados" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Seleccionar Jugador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table id="tablaJugadoresRegistrados" class="display" data-order='[[3, "asc" ]]' data-page-length='10'> 
                <thead>
                    <tr>
                        <th class="col-sm-1 text-center">Cédula</th>
                        <th class="text-center">Género</th>
                        <th class="text-center">Nombres</th>
                        <th class="text-center">Apellidos</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for grupo in gruposJugadores %}
                        {% for jugador in grupo %}
                        <tr>
                        <td class="text-center"> {{ jugador.numeroCedula }}</td>
                        <td class="text-center"> {{ jugador.genero }}</td>
                        <td class="text-center"> {{ jugador.nombres }}</td>
                        <td class="text-center"> {{ jugador.apellidos }}</td>
                        <td class="text-center"><a onclick="setDatosJugador('{{ jugador.id }}','{{ jugador.nombres }}','{{ jugador.apellidos }}')"><i class="fa fa-check"></i></a></td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if formularioAgregarPaseDeportivo.errors %}
<script>
    $(function () {
        $('#modalAgregarPaseDeportivo').modal('show');
    })
</script> 
{% endif %} 

<script>

    $(document).ready(function () {

        $('#tablaPasesDeportivosRegistrados').DataTable({
            "searching": true,
            "paging": true,
            "info": false,
            "lengthChange": false
        });

        $('#tablaJugadoresRegistrados').DataTable({
            "searching": true,
            "paging": true,
            "info": false,
            "lengthChange": false
        });

        ($('<button>')
            .append($('<i>')
                .attr('class', 'fa fa-plus')
            )
            .attr('class', 'btn btn-success btn-agregarDatatable')
            .attr('id', 'btnAgregarPaseDeportivo')
            .attr('data-toggle', 'modal')
            .attr('data-target', '#modalAgregarPaseDeportivo')
        )
            .insertBefore($('#tablaPasesDeportivosRegistrados_filter'));

        eliminarOptionsJugador();
        eliminarOptionsEquipoDestino();

    });

    function consultarEquiposInscritosEnCampeonatoDeportivo(){
        idJugador = $('#id_formularioAgregarPaseDeportivo-jugador option:selected').val();
        $.ajax({
        type: 'POST',
        dataType: 'json',
        async: false,
        url: '{% url "administracion:consultarEquiposInscritosEnCampeonatoDeportivo"%}',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            idJugador: idJugador
        },
        success: function (data) {
            equipos = JSON.parse(data);
            for (var k = 0; k < Object.keys(equipos).length; k++) {
                agregarOptionsEquipoDestino(equipos[k].id, equipos[k].nombre);
            }
        },
        error: function(err){
            alert("No se encuentran equipos candidatos para transferir al jugador, esto puede deberse a:\n\n- Error de conexión con el servidor.\n- El campeonato actual no cuenta con un subcampeonato (masculino/femenino) acorde a la modalidad del jugador.");
        }
        });
    }

    function setDatosJugador(id, nombres, apellidos) {
        eliminarOptionsJugador();
        $('#id_formularioAgregarPaseDeportivo-jugador').append(
            $('<option>')
            .text(nombres+" "+apellidos)
            .val(id)
            .attr('selected','true')
        )
        $('#modalJugadoresRegistrados').modal('hide');
        eliminarOptionsEquipoDestino();
        consultarEquiposInscritosEnCampeonatoDeportivo();

    }

    function eliminarOptionsJugador(){
        $("#id_formularioAgregarPaseDeportivo-jugador option").each(function() {
            $(this).remove();
        });
    }
    
    function eliminarOptionsEquipoDestino(){
        $("#id_formularioAgregarPaseDeportivo-equipoDestino option").each(function() {
            $(this).remove();
        });

        $("#id_formularioAgregarPaseDeportivo-equipoDestino").append($('<option>')
            .val('')
            .text("Seleccionar")                           
        );
    }

    function agregarOptionsEquipoDestino(id, nombre){ 
        $('#id_formularioAgregarPaseDeportivo-equipoDestino').append(
            $('<option>')
            .text(nombre)
            .val(id)
        )
    }


</script> 
{% endblock %}