{% extends 'dashboardBase.html' %} 
{% load static %}
{% block areaTrabajo %}

<div class="breadcrumbs mb-1">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Administrar Subcampeonatos</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Campeonato</li>
                    <li class="active">Administrar Subcampeonatos</li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% if formularioAgregarInscripcionEquipo.errors %}
<div class="col-sm-12">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h6>No ha sido posible almacenar la información ingresada debido a los siguientes errores:</h6>
    {% for field in formularioAgregarInscripcionEquipo %}
        {% if field.errors %}
            {% for error in field.errors %}
                <p><strong>Campo en conflicto: </strong>{{ field.name }}</p>
                <p><strong>Descripción: </strong><span class="text-lowercase">{{ error|escape }}</span></p>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
</div>
{% endif %}

<div class="content mt-1">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-xs-5 col-sm-5">
                <div class="card">
                    <div class="card-header">
                        <strong>Agregar Subcampeonato</strong>
                    </div>
                    <form action="{% url 'administracion:agregarInscripcionEquipo' %}" method="POST" class="card-body card-block" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-group col-sm-12">
                            <label for=""></label>
                            <label for="">Modalidad</label>
                            <div class="form-group">
                                <div class="input-group">
                                    {{formularioAgregarInscripcionEquipo.subcampeonato}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for=""></label>
                            <label for="">Equipo</label>
                            <div class="form-group">
                                <div class="input-group">
                                    {{formularioAgregarInscripcionEquipo.equipo}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-success" type="submit">Guardar</button>
                            <button class="btn btn-success" type="reset">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-7 col-sm-7">
                <div class="card">
                    <div class="card-header">
                        <strong>Inscripciones Registradas</strong>
                    </div>
                    <div class="card-body card-block">
                        {% if inscripcionesEquipoRegistradas %}
                            <table id="bootstrap-data-table" class="table table-striped tableFechas">
                                    <thead>
                                      <tr class="text-center row">
                                        <th class="col-sm-4">Subcampeonato</th>
                                        <th class="col-sm-7">Equipo</th>
                                        <th class="col-sm-1"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for inscripcionEquipo in inscripcionesEquipoRegistradas %}
                                      <tr class="text-center row">
                                        <td hidden> {{ inscripcionEquipo.id }}</td>
                                        <td class="col-sm-4"> {{ inscripcionEquipo.subcampeonato.modalidad }}</td>
                                        <td class="col-sm-7"> {{ inscripcionEquipo.equipo.nombre }}</td>
                                        <td class="col-sm-1"><a href="{% url 'administracion:eliminarInscripcionEquipo' inscripcionEquipo.id %}"><img src="{% static "images/remove.png"%}"></a></td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>

<script>

    $( function() {
        eliminarOptionsSubcampeonato();
        consultaSubcampeonatosActuales();
        idSubcampeonato = $('#id_formularioAgregarInscripcionEquipo-subcampeonato option:selected').val();
        if(idSubcampeonato==''){
            $('#id_formularioAgregarInscripcionEquipo-equipo').prop('disabled', true);
        }
    } );    

    $('#id_formularioAgregarInscripcionEquipo-subcampeonato').change(function(event) {
        idSubcampeonato = $('#id_formularioAgregarInscripcionEquipo-subcampeonato option:selected').val();
        if(idSubcampeonato!=''){
            eliminarOptionsEquipo();
            $('#id_formularioAgregarInscripcionEquipo-equipo').prop('disabled', false);
            consultaEquipos();
        }else{
            $('#id_formularioAgregarInscripcionEquipo-equipo').prop('disabled', true);
            eliminarOptionsEquipo();
        }
    });

    function consultaSubcampeonatosActuales(){
        $.ajax({
        type: 'POST',
        dataType: 'json',
        async: false,
        url: '{% url "administracion:consultaSubcampeonatosActuales"%}',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (data) {
            alert(data);
            equipos = JSON.parse(data);
            for (var k = 0; k < Object.keys(equipos).length; k++) {
                agregarOptionsSubcampeonato(equipos[k].id, equipos[k].nombre);
            }
        },
        error: function(err){
            alert("Error!");
        }
        });
    }

    function eliminarOptionsSubcampeonato(){
        $("#id_formularioAgregarInscripcionEquipo-subcampeonato option").each(function() {
            $(this).remove();
        });

        $("#id_formularioAgregarInscripcionEquipo-subcampeonato").append($('<option>')
            .val('')
            .text("Seleccionar")                           
        );
    }

    function agregarOptionsSubcampeonato(id, nombre){
        $("#id_formularioAgregarInscripcionEquipo-subcampeonato").append($('<option>')
            .val(id)
            .text(nombre)                           
        );
    }



    function consultaEquipos(){
        idSubcampeonato = $('#id_formularioAgregarInscripcionEquipo-subcampeonato option:selected').val();
        $.ajax({
        type: 'POST',
        dataType: 'json',
        async: false,
        url: '{% url "administracion:consultaEquiposSubcampeonato"%}',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            idSubcampeonato: idSubcampeonato,
        },
        success: function (data) {
            equipos = JSON.parse(data);
            for (var k = 0; k < Object.keys(equipos).length; k++) {
                agregarOptionsEquipo(equipos[k].idEquipo, equipos[k].equipo);
            }
        },
        error: function(err){
            alert("Error!");
        }
        });
    }

    function eliminarOptionsEquipo(){
        $("#id_formularioAgregarInscripcionEquipo-equipo option").each(function() {
            $(this).remove();
        });

        $("#id_formularioAgregarInscripcionEquipo-equipo").append($('<option>')
            .val('')
            .text("Seleccionar")                           
        );
    }

    function agregarOptionsEquipo(idEquipo, nombreEquipo){
        $("#id_formularioAgregarInscripcionEquipo-equipo").append($('<option>')
            .val(idEquipo)
            .text(nombreEquipo)                           
        );
    }

</script>


{% endblock %}