{% extends 'baseFormulario.html' %}

{% block formulario %}
    <section class="titulo">
        <h2>Liga Deportiva Parroquial de Nono</h2>
    </section>
    <section class="subtitulo">
        <p>Registrar nuevo usuario</p>
    </section>
    <div class="login-form">
        <form action="./" method="POST" class="col-md-12 t-center">
            {% csrf_token %}
                {{formularioCredencial.name.label_tag }}
                {{formularioCredencial.name }}
                {{formularioCredencial.lastname.label_tag }}
                {{formularioCredencial.lastname}} 
                {{formularioCredencial.username.label_tag }}
                {{formularioCredencial.username}}
                {{formularioCredencial.email.label_tag }}
                {{formularioCredencial.email}}                               
                {{formularioCredencial.tipoUsuario.label_tag }}
                {{formularioCredencial.tipoUsuario}}
                {{formularioCredencial.password.label_tag }}
                {{formularioCredencial.password}}
                
                {% if messages %}
                    <section class="seccionErrores">
                        {% for field in formularioCredencial %}
                            {% if field.errors %}
                                <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                            {% endif %}
                        {% endfor %}
                    </section>
                {% endif %}

            <button type="submit" class="btn btn-rojo btn-flat m-b-30 m-t-30">Guardar</button>
        </form>
    </div>
{% endblock %}