{% extends 'dashboardBase.html' %} 
{% load static %}
{% block areaTrabajo %}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Fechas</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Campeonato</li>
                    <li class="active">Fechas</li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% if messages %}
    {% if field.errors %}
        <div class="col-sm-12">
        {% for field in formularioLogin %}
            <div class="alert  alert-success alert-dismissible fade show" role="alert">
            {% if field.errors %}
                <span class="badge badge-pill badge-success">Error</span> {{ field.label }} : {{ field.errors|striptags }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endif %}
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="col-sm-12">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message.message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endif %}


<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-xs-5 col-sm-5">
                <div class="card">
                    <div class="card-header">
                        <strong>Agregar Fecha</strong>
                    </div>
                    <form action="./" method="POST" class="card-body card-block">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                            <label class="form-control-label">Fecha Deportiva</label>
                                {% if listaFechasDeportivas %}
                                <select name="formularioAdministrarFechas-fechaDeportiva">
                                    {% for fecha in listaFechasDeportivas %}
                                    <option value="{{fecha.id}}">{{fecha}}</option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input id="" name="formularioAdministrarFechas-fecha" class="form-control datepicker" type="text" required maxlength="50" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-success" type="submit">Guardar</button>
                            <button class="btn btn-success" type="reset">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-7 col-sm-7">
                <div class="card">
                    <div class="card-header">
                        <strong>Fechas Registradas</strong>
                    </div>
                    <div class="card-body card-block">
                        {% if listaFechas %}
                            <table id="bootstrap-data-table" class="table table-striped table-bordered tableFechas">
                                    <thead>
                                      <tr class="text-center">
                                        <th>Fecha Deportiva</th>
                                        <th>Fecha</th>
                                        <th>Actualizar</th>
                                        <th>Eliminar</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for fecha in listaFechas %}
                                      <tr class="text-center">
                                        <td hidden> {{ fecha.id }}</td>
                                        <td> {{ fecha.fechaDeportiva }}</td>
                                        <td> {{ fecha }}</td>
                                        <td><a onclick="setFecha('{{ fecha.id }}',' {{ fecha.fechaDeportiva.id }}', '{{ fecha }}')" data-toggle="modal" data-target="#largeModal"><img src="{% static "images/update.png"%}"></a></td>
                                        <td><a href="{% url 'administracion:eliminarFecha' fecha.id %}"><img src="{% static "images/remove.png"%}"></a></td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Modificar Fecha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'administracion:actualizarFecha'%}" method="POST" >
                {% csrf_token %}
                <div class="modal-body">
                    <input id="formularioActualizarFecha-idFecha" name="formularioActualizarFecha-idFecha" type="text" readonly hidden >
                    <div class="form-group">
                        <div class="input-group">
                        <label class="form-control-label">Fecha Deportiva</label>
                            {% if listaFechasDeportivas %}
                            <select id="formularioActualizarFecha-fechaDeportiva" name="formularioActualizarFecha-fechaDeportiva">
                                {% for fecha in listaFechasDeportivas %}
                                <option value="{{fecha.id}}">{{fecha}}</option>
                                {% endfor %}
                            </select>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input id="formularioActualizarFecha-fecha" name="formularioActualizarFecha-fecha" class="form-control datepicker" type="text" required maxlength="50" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">Guardar</button>
                    <button class="btn btn-success" data-dismiss="modal" aria-label="Close">Cancelar</button>
                </div>
            </form>

        </div>
    </div>
</div>


<script>
    $( function() {
        $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
    } );    

    function setFecha(idFecha, idFechaDeportiva, fecha){ 
        $("#formularioActualizarFecha-idFecha").val(idFecha);
        $("#formularioActualizarFecha-fecha").val(fecha);
        $('#formularioActualizarFecha-fechaDeportiva').val(parseInt(idFechaDeportiva)).prop('selected', true);
    }
</script>

{% endblock %}