{% extends 'dashboardBase.html' %} 
{% load static %}

{% block bloqueImportaciones %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock %}

{% block areaTrabajo %}
<div class="breadcrumbs mb-1">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Administrar Jugadores</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Campeonato</li>
                    <li class="active">Administrar Jugadores</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs mb-1">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <table id="tablaJugadoresRegistrados" class="display" data-order='[[3, "asc" ]]' data-page-length='20'> 
                    <thead>
                        <tr>
                            <th class="col-sm-2 text-center">Cédula</th>
                            <th class="text-center">Nombres</th>
                            <th class="text-center">Apellidos</th>
                            <th class="text-center">Género</th>
                            <th class="col-sm-1"></th>
                            <th class="col-sm-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jugador in jugadoresRegistrados %}
                        <tr>
                        <td class="text-center"> {{ jugador.numeroCedula }}</td>
                        <td class="text-center"> {{ jugador.nombres }}</td>
                        <td class="text-center"> {{ jugador.apellidos }}</td>
                        <td class="text-center"> {{ jugador.genero }}</td>
                        <td class="text-center"><a onclick="setDatosJugador('{{ jugador.id }}','{{ jugador.nombres }}', '{{ jugador.apellidos}}', '{{ jugador.numeroCedula}}', '{{ jugador.genero.id}}')" data-toggle="modal" data-target="#modalActualizarJugador"><img src="{% static "images/update.png"%}"></a></td>
                        <td class="text-center"><a href="{% url 'administracion:eliminarJugador' jugador.id %}"><img src="{% static "images/remove.png"%}"></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="modalAgregarJugador" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header mb-3">
                    <h5 class="modal-title" id="largeModalLabel">Agregar Jugador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if formularioAgregarJugador.errors %}
                    <div class="col-sm-12">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <h6>No ha sido posible almacenar la información ingresada debido a los siguientes errores:</h6>
                        {% for field in formularioAgregarJugador %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <p><strong>Campo en conflicto: </strong>{{ field.name }}</p>
                                    <p><strong>Descripción: </strong><span class="text-lowercase">{{ error|escape }}</span></p>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    </div>
                {% endif %}
                <form action="{% url 'administracion:agregarJugador' %}" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-group col-sm-12">
                        <label for="">Número de cédula</label>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-pencil"></i>
                                </div>
                                {{formularioAgregarJugador.numeroCedula}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="">Nombres</label>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-pencil"></i>
                                </div>
                                {{formularioAgregarJugador.nombres}}                                   
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="">Apellidos</label>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-pencil"></i>
                                </div>
                                {{formularioAgregarJugador.apellidos}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                            <label for="">Genero</label>
                            <div class="form-group">
                                <div class="input-group">
                                    {{formularioAgregarJugador.genero}}
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button id="sub" class="btn btn-success" type="submit">Guardar</button>
                        <button class="btn btn-success" data-dismiss="modal" aria-label="Close">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalActualizarJugador" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header mb-3">
                        <h5 class="modal-title" id="largeModalLabel">Modificar Fecha</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% if formularioActualizarJugador.errors %}
                        <div class="col-sm-12">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <h6>No ha sido posible almacenar la información ingresada debido a los siguientes errores:</h6>
                            {% for field in formularioActualizarJugador %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <p><strong>Campo en conflicto: </strong>{{ field.name }}</p>
                                        <p><strong>Descripción: </strong><span class="text-lowercase">{{ error|escape }}</span></p>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        </div>
                    {% endif %}
                    <form action="{% url 'administracion:actualizarJugador' %}" method="POST" autocomplete="off">
                        {% csrf_token %}
                        {{formularioActualizarJugador.id.as_hidden }}
                        <div class="form-group col-sm-12">
                            <label for="">Número de cédula</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                    {{formularioActualizarJugador.numeroCedula}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="">Nombres</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                    {{formularioActualizarJugador.nombres}}                                   
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="">Apellidos</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                    {{formularioActualizarJugador.apellidos}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="">Genero</label>
                            <div class="form-group">
                                <div class="input-group">
                                    {{formularioActualizarJugador.genero}}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="sub" class="btn btn-success" type="submit">Guardar</button>
                            <button class="btn btn-success" data-dismiss="modal" aria-label="Close">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

<script>
$(document).ready(function() {
    $('#tablaJugadoresRegistrados').DataTable( {      
         "searching": true,
         "paging": true, 
         "info": false,         
         "lengthChange":false 
    } );

    ($('<button>')
        .append($('<i>')
            .attr('class','fa fa-plus')
        )
        .attr('class','btn btn-success btn-agregarDatatable')
        .attr('id','btnAgregarJugador')
        .attr('data-toggle','modal')
        .attr('data-target','#modalAgregarJugador')
        )
    .insertBefore($('#tablaJugadoresRegistrados_filter'))

});
</script>

{% if formularioAgregarJugador.errors %}
<script>
    $(function(){
        $('#modalAgregarJugador').modal('show');
    })
</script>
{% endif %}

{% if formularioActualizarJugador.errors %}
<script>
    $(function(){
        $('#modalActualizarJugador').modal('show');
    })
</script>
{% endif %}

<script>
    function setDatosJugador(id, nombres, apellidos, numeroCedula, generoId){
        $('#id_formularioActualizarJugador-id').val(id);
        $('#id_formularioActualizarJugador-nombres').val(nombres);
        $('#id_formularioActualizarJugador-apellidos').val(apellidos);
        $('#id_formularioActualizarJugador-numeroCedula').val(numeroCedula);
        $('#id_formularioActualizarJugador-genero').val(parseInt(generoId)).prop('selected', true);
    }

</script>


{% endblock %}