<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>LDPN | Dashboard</title>
        <meta name="description" content="Sufee Admin - HTML5 Admin Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="apple-touch-icon" href="apple-icon.png">
        <link rel="shortcut icon" href="">
    
        <link rel="stylesheet" href="{% static "assets/css/normalize.css"%}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static "assets/css/font-awesome.min.css"%}">
        <link rel="stylesheet" href="{% static "assets/css/themify-icons.css"%}">
        <link rel="stylesheet" href="{% static "assets/css/flag-icon.min.css"%}">
        <link rel="stylesheet" href="{% static "assets/css/cs-skin-elastic.css"%}">
        <link rel="stylesheet" href="{% static "assets/scss/style.css"%}">
        <link href="{% static "assets/css/lib/vector-map/jqvmap.min.css"%}" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "estilo1.css" %}">
        <!--JQuery-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>
    <div>
        este es una nav
    </div>


    <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="largeModalLabel">Modificar Fecha</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h1>holas!!!!</h1>
            </div>
        </div>
    </div>

    <script>
        
    $('#largeModal').modal('show');    
    </script>

</body>

</html>