@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.bg-dark{
    background: #0D4059!important;
}

.login-form{
    text-align: left;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.login-form label, input, select{
    display: block;
    width: 100%;
    border-radius: 5px;
}

.login-form input[type="text"], input[type="password"], select{
    padding: 0.5em;
    border: 1px solid #BDBDBD;
}

.login-form button{
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 0.5em;
}

.login-form label:first-letter{
    text-transform: uppercase;
}

.login-form label{
    padding-top: 1em;
    text-transform:lowercase;
}

.alert .errorlist{
    list-style-type: none;
}

.alert ul{
    display: inline-block;
    margin-left: 0.5em;
}

.alert-error{
    background: #f8d7da;
    color: #721c24;
}

.badge-error{
    background: #721c24;
    color: #fff;
}

.login-content{
    text-align: center;
}

.titulo, .subtitulo p{
    color: #FFF3EE;
}

.btn-rojo{
    background: #A00000;
    color: #FFF3EE;
}

.btn-rojo:hover{
    background: #C90000;
}

.dataTables_wrapper .row .col-sm-12 .dataTables_length, .dataTables_wrapper .row .col-sm-12 .dataTables_filter{
    display: none;
}

.bootstrap-data-table_info, .dataTables_info{
    display: none;
}

.dataTables_paginate{
    text-align: right;
}

body.modal-open .datepicker {
    z-index: 1200 !important;
}

.row{
    margin: 0;
}

.noborder{
    border: none;
}

/* ESTILOS FRONTPAGE */

/* CAROUSEL */
#navPrincipal{
    position: absolute;
    z-index: 1;
    padding: 1em 0em;
}
#demo{
    width: 100%;
}

.carousel-item{
    opacity: 0.5;
    background: #061E2A;
    z-index: 1;
}

.carousel-inner img{
    width: 100%;
    z-index: -1;
    display: none;
}