@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*
=================================
Frontpage
=================================
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.row{
    margin: 0;
}

body{
    background-image: url('images/wall.png');
    font-size: 15px;
}

#navPrincipal{
    color: #DDDDDD;
    padding: 1.5em 0em;
    margin: 0em 0em;
    border-style: solid;
    border-color: #AD0000;
    border-width: 0px 0px 5px 0px;
}

#navPrincipal a{
    text-decoration: none;
    color: #224466;
    font-size: 14px;
    padding: 1em 1em;
    font-size: 13.5px;
}

#navPrincipal a:hover{
    text-decoration: none;
    background: #224466;
    color: #DDDDDD;
    border-radius: 5px;
}

#titulo{
    font-size: 18px;
    color: #224466;
    font-weight: bold;
}



html, body, #encabezado, .carousel, .carousel-inner, .carousel-item img{
    height: 100%;
    width: 100%;
}

.carousel{
    position: relative;
}

.carousel-inner .carousel-item img{
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.4;
}

.carousel-item{
    height: 100%;
    width: 100%;
    background: black;
    z-index: 2;
    text-align: center

}

.carousel-control-prev, .carousel-control-next{
    position: absolute;
    z-index: 2;
}

.borderless{
    border: none;
}

.borderless td, .borderless th {
    border: none;
}

.carousel-caption{
    padding-top: 5em;
    float: right;
    vertical-align: top; 
    height: 100%;
}

.descripcionCarousel{
    margin: 1.5em 0em;
}

.descripcionCarousel h5{
    font-size: 15px;
}

/*
=================================
Módulo de administracion
=================================
*/
 
/*
Administración de campeonatos deportivos
*/


.form-group{
    margin-bottom: 0.5em;
}

#id_formularioCampeonatoDeportivo-predefinido, #id_formularioActualizarCampeonatoDeportivo-predefinido{
    vertical-align: middle;
    margin-left: 1em;
    padding: 1em;
    height: 18px;
    width: 18px
}

.input-group input[type=text]{
    padding-left: 0.5em;
    width: 1%;
    flex: 1 1 auto;
}

.input-group select{
    width: 100%;
}

.alert h6{
    margin-bottom: 0.5em;
    font-size: 14px;
}

.alert p{
    margin: 0;
    font-size: 14px;
}

.dataTables_filter, .btn-agregarDatatable, .btn-guardarInscripcionJugador{
    margin-top: 1em;
}

.btn-agregarDatatable i{
    color: white;
}

.btn-guardarInscripcionJugador{
    margin-left: 0.5em;
}

.form-group select{
    width: 1%;
    flex: 1 1 auto;
}

#btnConsultarJugador{
    border: none;
    color: #FFFF;
    background: transparent;
}

#btnConsultarJugador a{
    padding-right: 0.75em;
    padding-left: 0.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#tablaJugadoresRegistrados_wrapper{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.panelSelect{
    margin-top: 1em;
}